.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.InputToken {
  position: absolute;
  bottom: 10px;
  right: 90px;
  width: 200px;
  height: 30px;
  border-radius: 30px;
  outline: none;
  color: black;
  padding-left: 10px;
  font-size: 15px;
  border: 0.1px solid black;
}

.ButtonToken {
  position: absolute;
  bottom: 13px;
  right: 10px;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  color: black;
  font-size: 20px;
  border: 0.1px solid black;
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}